In [4]:
!pip install xlrd --user

Collecting xlrd
  Downloading https://files.pythonhosted.org/packages/b0/16/63576a1a001752e34bf8ea62e367997530dc553b689356b9879339cf45a4/xlrd-1.2.0-py2.py3-none-any.whl (103kB)
     |████████████████████████████████| 112kB 4.2MB/s eta 0:00:01
Installing collected packages: xlrd
Successfully installed xlrd-1.2.0

In [19]:
import pandas as pd
import xlrd
from owlready2 import*
import types
import csv

In [6]:
pwd

'/home/hasnain/pyhas/Jupyter_note/pytest'

In [22]:
#df = csv.read('demoxl.csv')

with open('demoxl.csv', newline='') as csvfile:
    sp = csv.reader(csvfile, delimiter=',')

In [8]:
df

,Z,Sym,Element,Origin of name,Group,Period
0,1,H,Hydrogen,the Greek 'hydro' and 'genes' meaning water-fo...,1,1
1,2,He,Helium,the Greek 'helios' meaning sun,18,1
2,3,Li,Lithium,the Greek 'lithos' meaning stone,1,2
3,4,Be,Beryllium,"the Greek name for beryl, 'beryllo'",2,2
4,5,B,Boron,"the Arabic 'buraq', which was the name for borax",13,2
5,6,C,Carbon,"the Latin 'carbo', meaning charcoal",14,2
6,7,N,Nitrogen,the Greek 'nitron' and 'genes' meaning nitre-f...,15,2
7,8,O,Oxygen,the Greek 'oxy' and 'genes' meaning acid-forming,16,2
8,9,F,Fluorine,"the Latin 'fluere', meaning to flow",17,2
9,10,Ne,Neon,"the Greek 'neos', meaning new",18,2
10,11,Na,Sodium,the English word soda (natrium in Latin),1,3
11,12,Mg,Magnesium,"Magnesia, a district of Eastern Thessaly in Gr...",2,3
12,13,Al,Aluminium,"the Latin name for alum, 'alumen' meaning bitt...",13,3
13,14,Si,Silicon,"the Latin 'silex' or 'silicis', meaning flint",14,3
14,15,P,Phosphorus,"the Greek 'phosphoros', meaning bringer of light",15,3
15,16,S,Sulfur,"Either from the Sanskrit 'sulvere', or the Lat...",16,3
16,17,Cl,Chlorine,"the Greek 'chloros', meaning greenish yellow",17,3
17,18,Ar,Argon,"the Greek, 'argos', meaning idle",18,3
18,19,K,Potassium,the English word potash (kalium in Latin),1,4
19,20,Ca,Calcium,the Latin 'calx' meaning lime,2,4
20,21,Sc,Scandium,Scandinavia (with the Latin name Scandia),3,4
21,22,Ti,Titanium,"Titans, the sons of the Earth goddess of Greek...",4,4
22,23,V,Vanadium,"Vanadis, an old Norse name for the Scandinavia...",5,4
23,24,Cr,Chromium,"the Greek 'chroma', meaning colour",6,4
24,25,Mn,Manganese,"Either the Latin 'magnes', meaning magnet or f...",7,4

In [9]:
dd = pd.DataFrame(df, columns=['Sym'])

In [18]:
dd.get(0)

In [ ]:
onto = get_ontology('matcal.owl').load()

In [ ]:
#with onto:
   # NewClass = types.new_class(dd, (ab,))
x = str(dd)

In [ ]:
x

In [ ]:
for cc in dd():
    print (cc)

In [ ]:
with onto:
    NewClass = types.new_class(x, (ab,))

In [ ]:
onto = get_ontology('matcal.owl').load()

In [ ]:
with onto:
    class ab (Thing):
        pass
    class x(ab):
        print(x)
        pass

In [ ]:
for i in x:
    with onto:
        class i(ab):
            print(i)
            pass

In [ ]:
i

In [ ]:
onto.save(file = 'matcal.owl', format= 'rdfxml')

In [ ]:
dfs = pd.DataFrame(df, columns = ['1:4'])a

In [ ]:
dfs