In [6]:
!pip install xlrd --user

Collecting xlrd
  Using cached https://files.pythonhosted.org/packages/b0/16/63576a1a001752e34bf8ea62e367997530dc553b689356b9879339cf45a4/xlrd-1.2.0-py2.py3-none-any.whl
Installing collected packages: xlrd
Successfully installed xlrd-1.2.0

In [184]:
import pandas as pd
import xlrd
from owlready2 import*
import types

In [185]:
pwd

'/home/hasnain/Work_Doc/pyhas/Jupyter_note/pytest'

In [240]:
df = pd.read_csv('demoxl.csv')

In [241]:
df

,Z,Sym,Element,Origin of name,Group,Period
0,1,H,Hydrogen,the Greek 'hydro' and 'genes' meaning water-fo...,1,1
1,2,He,Helium,the Greek 'helios' meaning sun,18,1
2,3,Li,Lithium,the Greek 'lithos' meaning stone,1,2
3,4,Be,Beryllium,"the Greek name for beryl, 'beryllo'",2,2
4,5,B,Boron,"the Arabic 'buraq', which was the name for borax",13,2
5,6,C,Carbon,"the Latin 'carbo', meaning charcoal",14,2
6,7,N,Nitrogen,the Greek 'nitron' and 'genes' meaning nitre-f...,15,2
7,8,O,Oxygen,the Greek 'oxy' and 'genes' meaning acid-forming,16,2
8,9,F,Fluorine,"the Latin 'fluere', meaning to flow",17,2
9,10,Ne,Neon,"the Greek 'neos', meaning new",18,2
10,11,Na,Sodium,the English word soda (natrium in Latin),1,3
11,12,Mg,Magnesium,"Magnesia, a district of Eastern Thessaly in Gr...",2,3
12,13,Al,Aluminium,"the Latin name for alum, 'alumen' meaning bitt...",13,3
13,14,Si,Silicon,"the Latin 'silex' or 'silicis', meaning flint",14,3
14,15,P,Phosphorus,"the Greek 'phosphoros', meaning bringer of light",15,3
15,16,S,Sulfur,"Either from the Sanskrit 'sulvere', or the Lat...",16,3
16,17,Cl,Chlorine,"the Greek 'chloros', meaning greenish yellow",17,3
17,18,Ar,Argon,"the Greek, 'argos', meaning idle",18,3
18,19,K,Potassium,the English word potash (kalium in Latin),1,4
19,20,Ca,Calcium,the Latin 'calx' meaning lime,2,4
20,21,Sc,Scandium,Scandinavia (with the Latin name Scandia),3,4
21,22,Ti,Titanium,"Titans, the sons of the Earth goddess of Greek...",4,4
22,23,V,Vanadium,"Vanadis, an old Norse name for the Scandinavia...",5,4
23,24,Cr,Chromium,"the Greek 'chroma', meaning colour",6,4
24,25,Mn,Manganese,"Either the Latin 'magnes', meaning magnet or f...",7,4

In [248]:
dd = pd.DataFrame(df, columns=['Sym'])

In [249]:
dd

   Sym
0    H
1   He
2   Li
3   Be
4    B
5    C
6    N
7    O
8    F
9   Ne
10  Na
11  Mg
12  Al
13  Si
14   P
15   S
16  Cl
17  Ar
18   K
19  Ca
20  Sc
21  Ti
22   V
23  Cr
24  Mn

In [224]:
onto = get_ontology('matcal.owl').load()

In [227]:
#with onto:
   # NewClass = types.new_class(dd, (ab,))
x = str(dd)

TypeError: decoding to str: need a bytes-like object, DataFrame found

In [225]:
x

'   Sym\n0    H\n1   He\n2   Li\n3   Be\n4    B\n5    C\n6    N\n7    O\n8    F\n9   Ne\n10  Na\n11  Mg\n12  Al\n13  Si\n14   P\n15   S\n16  Cl\n17  Ar\n18   K\n19  Ca\n20  Sc\n21  Ti\n22   V\n23  Cr\n24  Mn'

In [220]:
for cc in dd():
    print (cc)

TypeError: 'DataFrame' object is not callable

In [209]:
with onto:
    NewClass = types.new_class(x, (ab,))

In [121]:
onto = get_ontology('matcal.owl').load()

In [147]:
with onto:
    class ab (Thing):
        pass
    class x(ab):
        print(x)
        pass

matcal.x

In [142]:
for i in x:
    with onto:
        class i(ab):
            print(i)
            pass

0






H


1





H
e


2





L
i


3





B
e


4






B


5






C


6






N


7






O


8






F


9





N
e


1
0




N
a


1
1




M
g


1
2




A
l


1
3




S
i


1
4





P


1
5





S


1
6




C
l


1
7




A
r


1
8





K


1
9




C
a


2
0




S
c


2
1




T
i


2
2





V


2
3




C
r


2
4




M
n


N
a
m
e
:

S
y
m
,

d
t
y
p
e
:

o
b
j
e
c
t

In [134]:
i

matcal.i

In [222]:
onto.save(file = 'matcal.owl', format= 'rdfxml')

In [39]:
dfs = pd.DataFrame(df, columns = ['1:4'])a

In [41]:
dfs

    1:4
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
10  NaN
11  NaN
12  NaN
13  NaN
14  NaN
15  NaN
16  NaN
17  NaN
18  NaN
19  NaN
20  NaN
21  NaN
22  NaN
23  NaN
24  NaN